<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ll.admin.mapper.RoleMapper">

    <select id="roleJoinCount" resultType="java.lang.Integer" parameterType="java.lang.String">
        SELECT COUNT(a.ROLE_ID)
        FROM (
            SELECT lr.ROLES_ID AS ROLE_ID FROM login_roles lr WHERE lr.ROLES_ID = #{roleId}
            UNION ALL
            SELECT rm.ROLE_ID FROM role_menus rm WHERE rm.ROLE_ID = #{roleId}
        ) a
    </select>
</mapper>