######################################################################
#                     --  configuration switch --                    #
######################################################################
######################################################################
#                          -- server --                              #
######################################################################
# 开发环境配置
server:
  # 服务器的HTTP端口，默认为80
  port: 80
  servlet:
    # 应用的访问路径
    context-path: /admin

  ############################ -- tomcat -- ############################
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8

######################################################################
#                          -- spring --                              #
######################################################################
spring:
  profiles:
    active: dev

  ############################ --  jpa -- ############################
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    database: mysql
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect

  ############################ --  thymeleaf -- ############################

  thymeleaf:
    prefix: classpath:/templates/
    check-template-location: true
    suffix: .html
    encoding: UTF-8
    servlet:
      content-type: text/html
    mode: HTML5
    cache: false

  ############################ --  mvc -- ############################
  mvc:
    view:
      prefix: /
      suffix: .html

  ############################ --  resources -- ############################
  resources:
    # 静态资源配置
    static-locations: classpath:/static/

  ############################ --  jackson -- ############################
  jackson:
    time-zone: GMT+8
    date-format: yyyy-MM-dd HH:mm:ss

######################################################################
#                           -- item --                               #
######################################################################
ll:
  name: lessons learned
  # 版本
  version: 1.0.0
  # 版权年份
  year: 2020
  # 成员
  member: ChenYongbin、MengXiaodong、ChenYongkun

######################################################################
#                       -- mybatis-plus --                           #
######################################################################
mybatis-plus:
  mapper-locations: classpath*:com/ll/mapper**/*Mapper.xml
  configuration:
    map-underscore-to-camel-case: true

######################################################################
#                       -- final-value --                           #
######################################################################
  ############################ --  认证 -- ############################
security-fig:
  login-url:  /login
  login-processing-url: /loginProcess
  error-url:  /loginFail
  logout-url: /signout
  swagger-url:  /doc
