<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"><!--web权限标签声明-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Index</title>
    <script th:src="@{/public/js/jquery-3.4.0.js}"></script>
</head>
<body>
<button id="btn">点击事件测试</button>
<script type="text/javascript">
    var btn = document.getElementById("btn");
    btn.onclick = function(){
        alert("生效！");
    }
</script>
<!--<img th:src="@{../static/image/timg.jpg}" height="688" width="1024"/>-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">ll-admin</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/}">首页</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="starter-template">
        <h1 th:text="${msg.title}"></h1>
        <p class="bg-primary" th:text="${msg.content}"></p>

        <div sec:authorize="hasRole('ROLE_ADMIN')">
            <p class="bg-info">管理员能查看的信息</p>
        </div>
        <div sec:authorize="hasRole('ROLE_USER')">
            <p class="bg-info">用户能查看的信息</p>
        </div>
        <form th:action="@{/signout}" method="post">
            <input type="submit" class="btn btn-primary" value="注销" >
        </form>
    </div>
</div>
</body>
</html>