<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"><!--web权限标签声明-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Index</title>
    <style th:inline="text">
        .bg {
            background:url("static/image/timg.jpg") no-repeat center fixed;
            background-size:contain;
        }
    </style>
    <script th:src="@{/static/js/jquery-3.4.0.js}"></script>
    <script type="text/javascript">
        function getMenuFun(v){
            var id = v.type;
            alert(id)
        }
    </script>
</head>
<body class="row bg">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
            <ul>
                <li>
                    <a class="navbar-brand" th:href="@{/}">首页</a>
                </li>
            </ul>
            <ul class="nav navbar-nav" th:each="auth:${auth}">
                <li th:if="${not #strings.contains(auth.path,'-')}">
                    <a th:href="@{javascript:void(0)}" onclick="getMenuFun(this)" th:text="${auth.name}" th:type="${auth.id}" th:if="${not #strings.contains(auth.path,'-')}"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="starter-template">
        <form th:action="@{/signout}" method="post">
            <input type="submit" class="btn btn-primary" value="注销" >
        </form>
    </div>
</div>
</body>
</html>

<!--        <h1 th:text="${msg.title}"></h1>-->
<!--        <p class="bg-primary" th:text="${msg.content}"></p>-->

<!--        <div sec:authorize="hasRole('ROLE_ADMIN')">-->
<!--            <p class="bg-info">管理员能查看的信息</p>-->
<!--        </div>-->
<!--        <div sec:authorize="hasRole('ROLE_USER')">-->
<!--            <p class="bg-info">用户能查看的信息</p>-->
<!--        </div>-->